monarco-hat-flow.json
[{"id":"df0ddfa1.dabad","type":"monarco-hat-din","z":"5691fea2.ca","name":"","pin":1,"x":520,"y":420,"wires":[["957efbed.dcb838"]]},{"id":"7523c558.92c50c","type":"monarco-hat-din","z":"5691fea2.ca","name":"","pin":"2","x":520,"y":480,"wires":[["83015086.4ad22"]]},{"id":"51b671e.7c3e29","type":"monarco-hat-din","z":"5691fea2.ca","name":"","pin":"3","x":520,"y":540,"wires":[["a8573068.39e7a"]]},{"id":"6d7c0fc0.cb839","type":"monarco-hat-din","z":"5691fea2.ca","name":"","pin":"4","x":520,"y":600,"wires":[["b6470838.9f2328"]]},{"id":"7ea305d3.10cabc","type":"monarco-hat-ain","z":"5691fea2.ca","name":"","pin":1,"x":520,"y":200,"wires":[["51daed2a.55e704"]]},{"id":"170a79e6.6e0fd6","type":"monarco-hat-ain","z":"5691fea2.ca","name":"","pin":"2","x":520,"y":260,"wires":[["3c69721.704418e"]]},{"id":"b6470838.9f2328","type":"debug","z":"5691fea2.ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":600,"wires":[]},{"id":"957efbed.dcb838","type":"debug","z":"5691fea2.ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":420,"wires":[]},{"id":"83015086.4ad22","type":"debug","z":"5691fea2.ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":480,"wires":[]},{"id":"a8573068.39e7a","type":"debug","z":"5691fea2.ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":540,"wires":[]},{"id":"39148bab.5f6cc4","type":"monarco-hat-dout","z":"5691fea2.ca","name":"","pin":1,"x":330,"y":420,"wires":[]},{"id":"b580688b.414568","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["39148bab.5f6cc4","251c3991.0b3156","f8244918.1b4098","f52c25c1.e2c3a8"]]},{"id":"251c3991.0b3156","type":"monarco-hat-dout","z":"5691fea2.ca","name":"","pin":"2","x":330,"y":480,"wires":[]},{"id":"f8244918.1b4098","type":"monarco-hat-dout","z":"5691fea2.ca","name":"","pin":"3","x":330,"y":540,"wires":[]},{"id":"f52c25c1.e2c3a8","type":"monarco-hat-dout","z":"5691fea2.ca","name":"","pin":"4","x":330,"y":600,"wires":[]},{"id":"1da7e28.c85f01e","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["39148bab.5f6cc4","251c3991.0b3156","f8244918.1b4098","f52c25c1.e2c3a8"]]},{"id":"1b1f61e8.63929e","type":"monarco-hat-aout","z":"5691fea2.ca","name":"","pin":1,"x":330,"y":160,"wires":[]},{"id":"51daed2a.55e704","type":"debug","z":"5691fea2.ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":200,"wires":[]},{"id":"3c69721.704418e","type":"debug","z":"5691fea2.ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":260,"wires":[]},{"id":"3a2654cc.badd6c","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["1b1f61e8.63929e"]]},{"id":"90e4dc48.9666a","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["1b1f61e8.63929e"]]},{"id":"ac7fcd0a.daabb","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["1b1f61e8.63929e"]]},{"id":"dad47885.0e9568","type":"monarco-hat-cnt","z":"5691fea2.ca","name":"","pin":1,"x":520,"y":660,"wires":[["b47c1430.e05888"]]},{"id":"38855e1c.2bcc92","type":"monarco-hat-cnt","z":"5691fea2.ca","name":"","pin":"2","x":520,"y":720,"wires":[["936e07af.7a92e8"]]},{"id":"b47c1430.e05888","type":"debug","z":"5691fea2.ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":660,"wires":[]},{"id":"936e07af.7a92e8","type":"debug","z":"5691fea2.ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":720,"wires":[]},{"id":"3c0922c0.9ce14e","type":"monarco-hat-led","z":"5691fea2.ca","name":"","pin":1,"x":1170,"y":40,"wires":[]},{"id":"b06487e8.579908","type":"monarco-hat-led","z":"5691fea2.ca","name":"","pin":"2","x":1170,"y":100,"wires":[]},{"id":"11207541.bc1d2b","type":"monarco-hat-led","z":"5691fea2.ca","name":"","pin":"3","x":1170,"y":160,"wires":[]},{"id":"fb066df.fa2439","type":"monarco-hat-led","z":"5691fea2.ca","name":"","pin":"4","x":1170,"y":220,"wires":[]},{"id":"922ad514.f7ff98","type":"monarco-hat-led","z":"5691fea2.ca","name":"","pin":"5","x":1170,"y":280,"wires":[]},{"id":"26c3b6ef.35308a","type":"monarco-hat-led","z":"5691fea2.ca","name":"","pin":"6","x":1170,"y":340,"wires":[]},{"id":"3c2fec57.42e034","type":"monarco-hat-led","z":"5691fea2.ca","name":"","pin":"7","x":1170,"y":400,"wires":[]},{"id":"c2f8faab.e129e8","type":"monarco-hat-led","z":"5691fea2.ca","name":"","pin":"8","x":1170,"y":460,"wires":[]},{"id":"d9b36449.ef65c8","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":220,"wires":[["3c0922c0.9ce14e","b06487e8.579908","11207541.bc1d2b","fb066df.fa2439","922ad514.f7ff98","26c3b6ef.35308a","3c2fec57.42e034","c2f8faab.e129e8"]]},{"id":"9d951f12.21cb4","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":280,"wires":[["922ad514.f7ff98","3c0922c0.9ce14e","b06487e8.579908","11207541.bc1d2b","fb066df.fa2439","3c2fec57.42e034","c2f8faab.e129e8","26c3b6ef.35308a"]]},{"id":"10a5e169.0a5cff","type":"monarco-hat-aout","z":"5691fea2.ca","name":"","pin":"2","x":330,"y":300,"wires":[]},{"id":"2e1bf872.4c9e48","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["10a5e169.0a5cff"]]},{"id":"d3f26148.a1b4","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["10a5e169.0a5cff"]]},{"id":"d4a91adb.31c118","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["10a5e169.0a5cff"]]},{"id":"8b3e9717.a3bfb8","type":"monarco-hat-pwm","z":"5691fea2.ca","name":"","module":1,"channel":"a","x":1180,"y":560,"wires":[]},{"id":"bf867bec.b5fc58","type":"monarco-hat-pwm","z":"5691fea2.ca","name":"","module":1,"channel":"b","x":1180,"y":620,"wires":[]},{"id":"6902d78e.e89c28","type":"monarco-hat-pwm","z":"5691fea2.ca","name":"","module":1,"channel":"c","x":1180,"y":680,"wires":[]},{"id":"b4f08a30.b240c8","type":"monarco-hat-pwm","z":"5691fea2.ca","name":"","module":"2","channel":"a","x":1180,"y":740,"wires":[]},{"id":"15723f64.1f4fb1","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"0.1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":580,"wires":[["8b3e9717.a3bfb8","bf867bec.b5fc58","6902d78e.e89c28","b4f08a30.b240c8"]]},{"id":"fb247c3f.bf7af","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":640,"wires":[["8b3e9717.a3bfb8","bf867bec.b5fc58","6902d78e.e89c28","b4f08a30.b240c8"]]},{"id":"8becd2ae.cb913","type":"inject","z":"5691fea2.ca","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":700,"wires":[["8b3e9717.a3bfb8","bf867bec.b5fc58","6902d78e.e89c28","b4f08a30.b240c8"]]},{"id":"d17274a2.e68c68","type":"monarco-hat-drv","z":"5691fea2.ca","name":"","ain1_mode":"0","ain2_mode":"0","cnt1_mode":"0","cnt2_mode":"0","rs485_parity":"0","rs485_databits":"0","rs485_stopbits":"0","rs485_baudrate":"3","pwm1_freq":"0","pwm2_freq":"0","x":120,"y":40,"wires":[]}]