monarco-hat-flow.json
[{"id":"17c0a26d.298d5e","type":"monarco-hat-din","z":"e51de99c.d4c638","name":"","pin":1,"x":530,"y":440,"wires":[["26252ec3.ef32e2"]]},{"id":"ed648e5e.3d8c3","type":"monarco-hat-din","z":"e51de99c.d4c638","name":"","pin":"2","x":530,"y":500,"wires":[["c6b2b8b0.0972"]]},{"id":"9cd53ae0.65348","type":"monarco-hat-din","z":"e51de99c.d4c638","name":"","pin":"3","x":530,"y":560,"wires":[["3ed3d7c9.31de68"]]},{"id":"c15178cc.68c05","type":"monarco-hat-din","z":"e51de99c.d4c638","name":"","pin":"4","x":530,"y":620,"wires":[["86ddbd55.16a2b"]]},{"id":"362cfe5e.3378ca","type":"monarco-hat-ain","z":"e51de99c.d4c638","name":"","pin":1,"x":530,"y":220,"wires":[["66b0942e.33a09c"]]},{"id":"a8abd395.133278","type":"monarco-hat-ain","z":"e51de99c.d4c638","name":"","pin":"2","x":530,"y":280,"wires":[["9038184a.a55718"]]},{"id":"86ddbd55.16a2b","type":"debug","z":"e51de99c.d4c638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":620,"wires":[]},{"id":"26252ec3.ef32e2","type":"debug","z":"e51de99c.d4c638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":440,"wires":[]},{"id":"c6b2b8b0.0972","type":"debug","z":"e51de99c.d4c638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":500,"wires":[]},{"id":"3ed3d7c9.31de68","type":"debug","z":"e51de99c.d4c638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":560,"wires":[]},{"id":"1fe16b6a.5a2dcd","type":"monarco-hat-dout","z":"e51de99c.d4c638","name":"","pin":1,"x":340,"y":440,"wires":[]},{"id":"bb07788a.e64518","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["1fe16b6a.5a2dcd","4d0d7517.80cd5c","6d2adebc.581d08","78272cfc.84ee04"]]},{"id":"4d0d7517.80cd5c","type":"monarco-hat-dout","z":"e51de99c.d4c638","name":"","pin":"2","x":340,"y":500,"wires":[]},{"id":"6d2adebc.581d08","type":"monarco-hat-dout","z":"e51de99c.d4c638","name":"","pin":"3","x":340,"y":560,"wires":[]},{"id":"78272cfc.84ee04","type":"monarco-hat-dout","z":"e51de99c.d4c638","name":"","pin":"4","x":340,"y":620,"wires":[]},{"id":"9f319899.eb9658","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":600,"wires":[["1fe16b6a.5a2dcd","4d0d7517.80cd5c","6d2adebc.581d08","78272cfc.84ee04"]]},{"id":"b087cdaf.7bed08","type":"monarco-hat-aout","z":"e51de99c.d4c638","name":"","pin":1,"x":330,"y":180,"wires":[]},{"id":"66b0942e.33a09c","type":"debug","z":"e51de99c.d4c638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"9038184a.a55718","type":"debug","z":"e51de99c.d4c638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":280,"wires":[]},{"id":"52cdf112.091ba8","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["b087cdaf.7bed08"]]},{"id":"781c8cc5.ba0954","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["b087cdaf.7bed08"]]},{"id":"6eb801bc.6f9868","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["b087cdaf.7bed08"]]},{"id":"9a19e4e4.943648","type":"monarco-hat-cnt","z":"e51de99c.d4c638","name":"","pin":1,"x":530,"y":680,"wires":[["e621a8b2.5101a8"]]},{"id":"e7044f0.63707b","type":"monarco-hat-cnt","z":"e51de99c.d4c638","name":"","pin":"2","x":530,"y":740,"wires":[["624f7c96.10314c"]]},{"id":"e621a8b2.5101a8","type":"debug","z":"e51de99c.d4c638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":680,"wires":[]},{"id":"624f7c96.10314c","type":"debug","z":"e51de99c.d4c638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":740,"wires":[]},{"id":"df23fbf1.d16548","type":"monarco-hat-led","z":"e51de99c.d4c638","name":"","pin":1,"x":1180,"y":60,"wires":[]},{"id":"b0adc3d6.55b19","type":"monarco-hat-led","z":"e51de99c.d4c638","name":"","pin":"2","x":1180,"y":120,"wires":[]},{"id":"fa2063b9.b1ed68","type":"monarco-hat-led","z":"e51de99c.d4c638","name":"","pin":"3","x":1180,"y":180,"wires":[]},{"id":"74f24331.2310d4","type":"monarco-hat-led","z":"e51de99c.d4c638","name":"","pin":"4","x":1180,"y":240,"wires":[]},{"id":"58552d71.0be54c","type":"monarco-hat-led","z":"e51de99c.d4c638","name":"","pin":"5","x":1180,"y":300,"wires":[]},{"id":"b95d73f2.86d6a","type":"monarco-hat-led","z":"e51de99c.d4c638","name":"","pin":"6","x":1180,"y":360,"wires":[]},{"id":"2b87870a.437378","type":"monarco-hat-led","z":"e51de99c.d4c638","name":"","pin":"7","x":1180,"y":420,"wires":[]},{"id":"6ed69a3b.5cc574","type":"monarco-hat-led","z":"e51de99c.d4c638","name":"","pin":"8","x":1180,"y":480,"wires":[]},{"id":"b51eee7f.7016a","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":240,"wires":[["df23fbf1.d16548","b0adc3d6.55b19","fa2063b9.b1ed68","74f24331.2310d4","58552d71.0be54c","b95d73f2.86d6a","2b87870a.437378","6ed69a3b.5cc574"]]},{"id":"25215198.dd058e","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":300,"wires":[["58552d71.0be54c","df23fbf1.d16548","b0adc3d6.55b19","fa2063b9.b1ed68","74f24331.2310d4","2b87870a.437378","6ed69a3b.5cc574","b95d73f2.86d6a"]]},{"id":"b1f96d2b.38c7b","type":"monarco-hat-aout","z":"e51de99c.d4c638","name":"","pin":"2","x":340,"y":320,"wires":[]},{"id":"4025a11b.ddd178","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["b1f96d2b.38c7b"]]},{"id":"fc70f939.47c24","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["b1f96d2b.38c7b"]]},{"id":"369b8d94.2904f2","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["b1f96d2b.38c7b"]]},{"id":"cc34b15e.a61aa","type":"monarco-hat-pwm","z":"e51de99c.d4c638","name":"","module":1,"channel":"a","x":1190,"y":580,"wires":[]},{"id":"6c945da8.9d00bc","type":"monarco-hat-pwm","z":"e51de99c.d4c638","name":"","module":1,"channel":"b","x":1190,"y":640,"wires":[]},{"id":"4f7343d4.ee75c4","type":"monarco-hat-pwm","z":"e51de99c.d4c638","name":"","module":1,"channel":"c","x":1190,"y":700,"wires":[]},{"id":"ac6a82c5.9895e8","type":"monarco-hat-pwm","z":"e51de99c.d4c638","name":"","module":"2","channel":"a","x":1190,"y":760,"wires":[]},{"id":"557ce76a.6375a8","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"0.1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":600,"wires":[["cc34b15e.a61aa","6c945da8.9d00bc","4f7343d4.ee75c4","ac6a82c5.9895e8"]]},{"id":"cd580a36.0471c","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":660,"wires":[["cc34b15e.a61aa","6c945da8.9d00bc","4f7343d4.ee75c4","ac6a82c5.9895e8"]]},{"id":"40fd4004.2bb098","type":"inject","z":"e51de99c.d4c638","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":720,"wires":[["cc34b15e.a61aa","6c945da8.9d00bc","4f7343d4.ee75c4","ac6a82c5.9895e8"]]},{"id":"db5b6c02.85f0a8","type":"monarco-hat-drv","z":"e51de99c.d4c638","name":"","ain1_mode":"0","ain2_mode":"0","cnt1_mode":"0","cnt2_mode":"0","rs485_parity":"0","rs485_databits":"0","rs485_stopbits":"0","rs485_baudrate":"3","pwm1_freq":"0","pwm2_freq":"0","watchdog":"1000","x":140,"y":60,"wires":[]}]